### Conditional statement
 ###  1) If statement

### marks=int(input("enter  marks"))
passing =50
distinction=90

In [1]:
if marks>=distinction:
    print("Your topper")
if marks>=passing and marks<dictinction:
    print("You ")
if marks<passing:
          print("fail")

NameError: name 'marks' is not defined

In [ ]:
st="the coffe is bad today"
if 'bad' in st:
    print("Review")
s="Iam very good"
if 'bad' in s:
    print("sorry")
else:
    print("hai")
'z'in "hell"

## 2)If else statement

In [ ]:
if None:
    print("True")
else:
    print("False")

In [ ]:
n=int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

In [ ]:
j=int(input("enter a number"))
if j%2==0:
    print("even")
    if j%4==0:
        print("It is divisible by 4")
    else:
        print("it is not divisible by 4")
else:
    print("odd")
    if j%3==0:
        print("it is divisible by 3")
    else:
        print("not  divisible by 3")

In [ ]:
y=int(input("enter a number"))
if( y%4==0 or  y%100!=0 and  y%4==0):
    print("leap year")
else:
        print("not leap year")

### Check the number is exist or not  in between given boundries

In [ ]:
n1=int(input("enter  a number"))
lb=50
up=150
if n1>=50 and n1<150:
    print("number is exist")
else:
    print("not exist")

###  Find the given number is multiple of 10

In [ ]:
n=int(input("enter a number"))
if n%10==0:
    print("it is multiple of 10")
else:
    print("not multiple of 10")

### Find the factors of 100

In [ ]:
k=int(input("etner a number"))
if 100%k==0:
    print("it is facotr of 100")
else:
    print("it is not factor")

In [ ]:
m=input("etner a number")
j=int(input("entea number"))
if m==n:
    print("those are equal")
else:
    print("not equal")

In [ ]:
a=2
print(a)

### Check the given number is equal to the given  number or not

In [2]:
j=int(input("entea number"))
t=input("enter a number")
if str(j)==t:
    print("equal")
else:
    print("not equal")

entea number34
enter a number34
equal

## Calculate the number of nano seconds in a given year(conside leap year)

In [3]:
e=int(input("enter a leap year"))
if(e %400 or e%4==0 and e%100!=0):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60(10**9))

enter a leap year34
31622400000000000

### Find the largest number from the given numbers

In [4]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("etner a number"))
if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else:
    print(c)

enter a number34
enter a number34
etner a number34
34

### Print the grade of the student using elif

In [5]:
ma=int(input("enter a number"))
if ma>90 and m<100:
    print("distinction")
elif ma>70 and ma<80:
    print("A")
elif ma>60 and ma<70:
    print("B")
    
elif ma>50 and ma<60:
    print("c")
else:
    print("fail")

enter a number34
fail

### 4)Nested if

###   take an input from keyboard check the nuber is positive or negative or zero display

In [6]:
b=int(input("enter a number"))
if b>=0 :
    if b==0:
        print("zero")
    else:
        print("positive")

else:
    print("negative")

enter a number34
positive

###  Calculate the square root of number

In [7]:
num=int((input("enter number")))
if num>0:
    print (num*num)
else:
    print(num)

enter number34
1156

###  Count the number  of digits  in given number

In [8]:
n=int(input("enter  a number"))
j=str(n)
print(len(j))

enter  a number34
2

### Tasks in my website


### iteration/loops

In [9]:
range (6)
range(1,5)

range(1, 5)

### Types of loops

### 1)For loop

In [10]:
for  i in range (5):
    print(i)

0
1
2
3
4

In [11]:
s1="hello ece"
for i in s1:
    print(i)

h
e
l
l
o

e
c
e

In [12]:
s1="hello"
for i in s1:
    print(i,end=",")

h,e,l,l,o,

In [13]:
s2="j,a,y,a"
for i in s2:
    print(i,end=",")#by using end keyword we can add comma in last letter

j,,,a,,,y,,,a,

In [14]:
print(43,56,sep='.')
print(43,56)

43.56
43 56

In [15]:
for i in range(1,11):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10

In [16]:
for i in range(2,11,2):#step value
    print(i,end=" ")

2 4 6 8 10

In [17]:
for i in range(7,1000,7):
    if (i%2==0):
        print(i,end=",")

14,28,42,56,70,84,98,112,126,140,154,168,182,196,210,224,238,252,266,280,294,308,322,336,350,364,378,392,406,420,434,448,462,476,490,504,518,532,546,560,574,588,602,616,630,644,658,672,686,700,714,728,742,756,770,784,798,812,826,840,854,868,882,896,910,924,938,952,966,980,994,

In [18]:
for i in range(994,6,-7):
    print(i,end=",")

994,987,980,973,966,959,952,945,938,931,924,917,910,903,896,889,882,875,868,861,854,847,840,833,826,819,812,805,798,791,784,777,770,763,756,749,742,735,728,721,714,707,700,693,686,679,672,665,658,651,644,637,630,623,616,609,602,595,588,581,574,567,560,553,546,539,532,525,518,511,504,497,490,483,476,469,462,455,448,441,434,427,420,413,406,399,392,385,378,371,364,357,350,343,336,329,322,315,308,301,294,287,280,273,266,259,252,245,238,231,224,217,210,203,196,189,182,175,168,161,154,147,140,133,126,119,112,105,98,91,84,77,70,63,56,49,42,35,28,21,14,7,

In [19]:
for i in range(50,100,2):
    print(i,end=",")

50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

In [20]:
for i in range(98,49,-2):
    print (i,end=",")

98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,

### While loop

In [21]:
i=1
while i<=10:
    print(i,end=",")
    i++

SyntaxError: invalid syntax (<ipython-input-21-c67d56025128>, line 4)

In [ ]:
i=3
while i<=100:
    
    print(i,end=",")
    i=i+3

In [ ]:
i=99
while i>=3 :
    print(i,end=",")
    i=i-3

In [ ]:
s="hello"
i=0
k=len(s)
while i<=k:
    print(s[i],end=",")
    i=i+1

### Function to print N natural numbers using for loop

In [ ]:
def nat(n):
    for i in range(1,n+1):
        print(i,end=" ")
        
nat(5)

### Print N natural numbers using While loop

In [ ]:
def wh(n):
    i=0
    while i<n:
        print(i,end=" ")
        i=i+1
wh(10)

### Function to print alterantive values in same line

In [ ]:
def alt(start,end):
    
    while start<=end:
        print(start,end=" ")
        start=start+2
alt(500,549)

### Function to print alternative values in reverse order in same line

In [ ]:
def al(i,n):
    for j in range (i,n,-2):
        print(j,end=",")
al(549,500)

### Function to print the odd numbers in reverse order

In [ ]:
 def odd(n):
    for i in range(9,0,-2):
    print(i,end=" ")

#### Function to find all numbers divisible by 6
### not a factor of 100

In [ ]:
def fact(n):
    for i in range(1,n):
        if i%6==0:
            if 100%i!=0:
                print(i,end=" ")
fact(100)

### Function to calculate the  sum of numbers

In [ ]:
def su(n):
    s=0
    for i in range(0,n):
        s=s+i
    print(s)
        
          
        
su(5)

#### Caluculate the average of given range 
### Ex: [1,5]->3

In [ ]:
def avg(n):
    s=0
    for i in range(1,n+1):
        s=s+i
    print(s//n)
avg(5)

### Function to find the average of cubes of all even numbers
 in a given range(lb, ub) inclusive
 1, 10 -> 2, 4, 6, 8, 10 -> avg(8, 64, 216, 64*8, 1000) ##

In [22]:
def cubes(n):
    j=0
    so=0
    for i  in range(1,n):
        if i%2==0:
            j=i**3
            so=so+j
    
    print(so//i)
cubes(1000)

124625125

In [ ]:
j=2**3
print(j)

### Function use to generate factors of given number

In [ ]:
def fac():
    n=12
    for i in range (1,n+1):
        if(n%i==0):
            print(i,end=" ")
fac()

In [27]:
def pri():
    count=0
    n=5
    for i in range(1,n):
        if(n%i==0):
            count=count+1
            if(count==2):
            print(n)
            else:
                print(1)
#n=int(input("enter a number"))
pri()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

In [36]:
li=[1,2,3,4,5]
li

[1, 2, 3, 4, 5]

In [37]:
def  secon(li):
    li.sort()
    return li[-2]
secon(li)

4

In [ ]:
s="1,2,3,4,5"
li=