### Tuples
Tuple is group of objects which are in ordered position .Objects are unchangble.

In [1]:
t=(10,20,30)
print(type(t))

<class 'tuple'>

In [3]:
for each  in t:
    print(each)

10
20
30

In [4]:
t[0:3:2]

(10, 30)

In [27]:
t.index(10)

0

In [9]:
first_tuple=("hari",30,"manne",34)
print(first_tuple[0])

hari

In [10]:
print(len(t))

3

In [11]:
t.count(10)

1

In [12]:
city_tuple=("hyderabad","vizag","mumbai")
b=city_tuple[:-1]
print(b)

('hyderabad', 'vizag')

In [16]:
c=list(b)
print("c is :{0}".format(c))
c=tuple(c)
print("c is now tuple:{0}".format(c))

c is :['hyderabad', 'vizag']
c is now tuple:('hyderabad', 'vizag')

In [18]:
x=("ruksana","madhuri","balatripura sundari","tripura")
y=list(x)
y[1]="hari"
x=tuple(y)
print(x)

('ruksana', 'hari', 'balatripura sundari', 'tripura')

In [19]:
if "divya" in x:
    print("yes")
else:
    print("no")

no

In [20]:
y=(10,20,30)
y[0]=23
print(y)

TypeError: 'tuple' object does not support item assignment

In [21]:
dir (tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [22]:
y
del y #in tupple items are not removes but entaire tuple will be deleted
print(y)

NameError: name 'y' is not defined

In [23]:
a=("a","b","c","d")
b=(1,2,3,4)
c=a+b
print(c)

('a', 'b', 'c', 'd', 1, 2, 3, 4)

In [24]:
a.count("a")

1

In [25]:
c.count(1)

1

### Program  to convert given tuple in to string

In [31]:
t=('a','b')
d="".join(t)
print(d)

ab

### Python program to reverse the given elements in tuple

In [33]:
t=(1,2,3,4,5)
c=t[::-1]
print(c)

(5, 4, 3, 2, 1)

### Python program to print names in tuples using iterations

In [35]:
for i in range(len(t)):
    print(t[i])

1
2
3
4
5

###   Sets
Set is unordered and un indexed compare to list

In [37]:
s={10,20,30}
s

{1, 2, 3, 4}

In [41]:
s={10,20,30,10}#it  can remove repeated elemets
s

{10, 20, 30}

In [43]:
names={"hari","priya","manne","kushi"}
for i in names:
    print(i)

kushi
priya
hari
manne

In [44]:
print("manne" in names)

True

### Sets methods
 # Add 
  # Update
 #  Length

In [45]:
names={"hari","priya","manne","kushi"}#Random ordered example
names.add("mouinka")
print(names)

{'manne', 'mouinka', 'priya', 'hari', 'kushi'}

In [46]:
names.update(["jaya","lakshmi"])
print(names)

{'manne', 'jaya', 'lakshmi', 'mouinka', 'priya', 'hari', 'kushi'}

In [47]:
names.remove("hari")#remoevs the item from the set
print(names)

{'manne', 'jaya', 'lakshmi', 'mouinka', 'priya', 'kushi'}

In [49]:
names.discard("jaya")
print(names)

{'manne', 'lakshmi', 'mouinka', 'priya', 'kushi'}

## Pop

In [50]:
names.pop()
print(names)

{'lakshmi', 'mouinka', 'priya', 'kushi'}

In [51]:
names.pop()#first element will be removed
print(names)

{'mouinka', 'priya', 'kushi'}

## Clear

In [54]:
names.clear()
print(names)

set()

In [55]:
dir (names)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [59]:
del s
print(s)#del will remove entaire set

NameError: name 's' is not defined

### Union

In [60]:
s1={1,2,3,4,5}
s2={4,5,6}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6}

In [67]:
s3=s1.intersection(s2)
print(s3)

set()

In [66]:
s2.difference(s1)
print(s2)

{4, 5, 6}

In [68]:
s1.difference_update(s2)
print(s1)

{1, 2, 3}

In [69]:
s1.issubset(s2)

False

In [70]:
help(s1.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [71]:
s1

{1, 2, 3}

In [72]:
s2

{4, 5, 6}

In [75]:

s1.symmetric_difference(s2)
print(s1)

{1, 2, 3}

In [78]:
s1={1,5}
s2={1,2,3,5}
s1.intersection_update(s2)
print(s1)

{1, 5}

In [79]:
(s1.isdisjoint(s2))

False

In [80]:
s1.issuperset(s2)

False

### Packages and Modules
package-collection of modules
modules -A single python file containing function
package ---> subpackege -->module-->function

### Module

In [82]:
def hari(name):
    print("hello"+name)
hari("jaya")

hellojaya

In [83]:
import firstmodule
firstmodule.print(ss)

ModuleNotFoundError: No module named 'firstmodule'

In [84]:
from math import floor as f1
f1(2343.3223423)

2343

In [86]:
import random 
def rand(n,lb,up):
    for i in range(0,n):
        print(random.randint(lb,up),end=" ")
rand(10,1,100)

24 11 47 67 10 94 51 35 78 46

In [91]:
from numercial import isPrime as p
p(3)

ModuleNotFoundError: No module named 'numercial'

In [93]:
from math  import sqrt as s
s(23)

4.795831523312719

In [99]:
 s1.symmetric_difference_update(s2)
print(s1)

{2, 3}